CLUSTER_NAME= #required
ENVIRONMENT= #optional
KEY_NAME= #required
PROJECT= #required
REGION= #required
STACK_NAME= #required
TASK_DESIRED_COUNT= #optional
USER_NAME= #required
VPC_ID= #required
VPC_CIDR= #required
VPC_SUBNETS= #required ( format: subnet1,subnet2, ...)